# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    env:
      ProductName: Trados Studio
      ProductNameWithEdition: Trados Studio 2021
      ProductVersion: Studio16

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Download docfx
        run: |
          curl -L https://github.com/dotnet/docfx/releases/latest/download/docfx.zip -o docfx.zip
          unzip -d .docfx docfx.zip

      - name: build _site
        run: .docfx/docfx.exe

      # Runs a set of commands using the runners shell
      #- name: commit to gh-pages
      #  run: bash releaseDocs.sh $GITHUB_ACTOR ${{ secrets.GITHUB_TOKEN }}
      - shell: pwsh
        run: |
          .\releaseDocs.ps1 "$GITHUB_ACTOR" "${{ secrets.GITHUB_TOKEN }}"
